<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75238269297-ohtbfrgoqifj97dqvl561v1m4ge6gi3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75238269297-ohtbfrgoqifj97dqvl561v1m4ge6gi3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCi9I0ulhwGqQ3KZdoOycVWUAbnRHxhC-4</string>
	<key>GCM_SENDER_ID</key>
	<string>75238269297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.dukdamn.identifier</string>
	<key>PROJECT_ID</key>
	<string>fir-test-126fd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-126fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75238269297:ios:e8b06b659338b7deabd6d0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-126fd.firebaseio.com</string>
</dict>
</plist>